@import url('https://font.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', san-serif;
}

:root { 
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #C8A19C;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, 0, .2);
}

html { 
    font-size: 62.5%;
    overflow-x: hidden;
}

body { 
    background: var(--bg-color);
    color: var(--text-color); 
 
}

.header {
    position : fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: #4c3939;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;

}
.header .sticky{
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);

}
#menu-icon{
    font-size: 3.6rem;
    color: var(--white-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
}
.header .sticky .navbar{
    color: var(--text-color);

}
.navbar a.active::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -6px;
    height: .2rem;
    background: var(--white-color);

}
section{ 
    min-height: 100vh;
    padding: 140px 5% 120px;
} 
.home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url('bg2.jpg');
    background-size: cover;
    max-width: 100%;
    
}
.home-content{ 
    max-width: 44rem;
}
.home-content img:hover{
background-size: 1500px 1000px;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

.home-content h1{
    font-size: 5.9rem;
    color: #754561;
    font-weight: 700;
    margin-bottom: .5rem;
}
.home .home-content p { 
    font-size: 1.8rem;
}

.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: var(--main-color);
    border: .2rem solid transparent;
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--white-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .social-media a:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
    
}

.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}


.about{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #eae0df;
}
  

.heading{
    font-size:5rem;
    margin-bottom: 3rem;
    text-align: center;
}
span{ 
    color: var(--main-color);
}

.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    width:90%;
    height: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}
.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(#C8A19C);
    border-bottom: .2rem solid var(#C8A19C);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}
.about h2{
    font-size: 4.0rem;
}
.about-content {
    text-align: center;
}
.about-content h3{
    font-size: 2.6rem;
    color: #754561;
}
.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.btn-box .btns{
    display: inline-block;
    width: 15rem;
}
.btn-box .btns a::before{
    background: var(#C8A19C)


}
.education .title {
    text-align: center;
    font-size: 3rem;
}
.education .box-container{
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 1rem;
    Display: flex;
    grid-template-columns: repeat(2, 1fr);
}
.education .box-container .box{
    width: 27rem;
    margin: 4rem 1rem;
    background: var(#222);
    padding-left: 4rem;
    border-left: .2rem solid #222;
    position: relative;
}
.education .box-container .box .span{
    font-size: 1.3rem;
    background: #222;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
    color: #754561;

}
.education .box-container .box h3{
    font-size: 2rem;
    color: #C8A19C;
    padding-top: 1.5rem;
}
.education .box-container .box p{
    font-size: 2rem;
    padding: 1rem 0;
}
.education .box-container .box i{
    position: absolute;
    top: 1.5rem; 
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #333;
    background: #4c3939;
}
.skill{
    display: grid;
    grid-gap: 16px;
    padding: 16px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1024px;
    margin-inline: auto;
    background-color: #f2dedf;
    
}
.skills .title {
    text-align: center;
    font-size: 3rem;
}
.skill .set{
    background-color: var(--bg-color);
    padding: 24px;
    border-radius: 16px;
    cursor: pointer;
}
.skill .set:hover{ 
    box-shadow: 0px 12px 16px var(--main-color);
}
.set span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 48px;
    background-color: var(--main-color);
    color: #f8f8ff;
    border-radius: 35px;
    margin-inline: auto;
}
.set > header{
    padding-block: 24px;
    font-size: 24px;
    color: var(--main-color);
    text-align: center;
    text-transform: capitalize;
}

.set{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 35px;

}
.set .skill_bar .info{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.skill_bar .info .percent{
    font-weight: bold;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    position: relative;
    background-color: gray;
    border-radius: 25px;
    margin-top: 5px;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: var(--main-color);
    border-radius: 25px;
}
.skill_bar .bar .skill0{
    width: 95%;
}
.skill_bar .bar .skill1{
    width: 90%;
}
.skill_bar .bar .skill2{
    width: 87%;
}
.skill_bar .bar .skill3{
    width: 90%;
}
.skill_bar .bar .skill4{
    width: 80%;
}
.skill_bar .bar .skill5{
    width: 85%;
}
.contact{
    display: grid;
    font-size: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
    background: #eae0df;
}
.contact-content h4{
    color: var(--main-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight:600 ;
}
.contact-content h2{
    color: var(--main-color);
    font-size: 20px;
    line-height: 1;
}
.contact-content p{
    color: var(--main-color);
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 30px;
}
.list{
     margin-bottom: 2.8rem;
}
.list li{
    margin-bottom: 12px;
}
.list a{
    display: block;
    color: #4c3939;
    font-size:14px;
    transition: all .45s ease;
}
.list a:hover{
    color: wheat;
    transform: translateX(5px);
}
.contact-media i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: var(--main-color);
    border: .2rem solid transparent;
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--white-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.contact-media i:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}
.contact-form form{
    position: relative;
}
.contact-form form input, form textarea {
    width: 100%;
    padding: 14px;
    background: #C8A19C;
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.contact-form textarea {
    resize: none;
    height: 240px;
}
.contact-form .submit {
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color: var(--text-color);
    width: 160px;
    transition: all .45s ease;
}
.contact-form .submit:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#achievements{
    padding: 0;
    
    
}
.sub-title{
text-align: center;
    font-size: 4rem;
}
#achievements .container{
    text-align: center;
}

.project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
    border: solid palevioletred;
}
.cert-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    
}
.cert-list div{
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;

}

.cert-list div a:hover{
    background: var(--main-color);

}
.cert-list div:hover{
    background: var(--main-color);
    transform: translateY(-10px);
}

@media (max-width: 768px){
    #menu-icon {
        display: block;
    }
    
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--main-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
        
    }
    .navbar.active {
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: #f2dedf;
    }
    
    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--white-color);
    }
    .navbar a.active {
        color: #f2dedf;
    }

    .navbar a::before{
        display: none;
    }
}
